In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'/Users/saihridikpunukollu/Desktop/Acads/3-2/Engineering Hydrology/Project'

In [38]:
df = pd.read_csv("./table.csv", delimiter=" ", usecols=["ID","Node1","Node2","Length","Diameter","Roughness","MinorLoss","Status"])

In [39]:
df = df.drop(["ID","Diameter", "Roughness", "MinorLoss", "Status"], axis=1)

In [55]:
df.index.rename("Pipe ID", inplace=True)

In [57]:
df[17:]

         Node1  Node2  Length
Pipe ID
18          19     18     800
19           3     19     400
20           3     20    2200
21          20     21    1500
22          21     22     500
23          20     23    2650
24          23     24    1230
25          24     25    1300
26          26     25     850
27          27     26     300
28          16     27     750
29          23     28    1500
30          28     29    2000
31          29     30    1600
32          30     31     150
33          32     31     860
34          25     32     950